<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ site.name }}</title>
		<link rel='stylesheet' type='text/css' href='/assets/css/main.css'>
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel='shortcut icon' href='/favicon.ico'>
	</head>

	<body>
		<div class='container'>
			<div class='header'>
				<img src='/assets/images/header.jpg' class='header-banner' alt='{{ site.name }}'>
				<ul class='navigation'>
					{% for item in site.navigation %}
					<li><a href='{{ item.url }}'>{{ item.label }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class='content'>
				{{ content }}

				<div class='footer'>
					<a href='https://github.com/trillek-team' class='find-on-github'><img src='/assets/images/find-on-github.png'></a>
				</div>
			</div>
		</div>

		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','//www.google-analytics.com/analytics.js','ga');

			ga('create', '{{ site.analytics.code }}', '{{ site.analytics.label }}');
			ga('send', 'pageview');
		</script>
	</body>
</html>
