<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<meta name='viewport' content='width=device-width'>
		<link rel='stylesheet' type='text/css' href='/assets/css/main.css'>
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel='shortcut icon' href='/favicon.ico'>
	</head>

	<body>
		<div class='container'>
			<div class='header'>
				<img src='/assets/images/header.jpg' class='header-banner' alt='{{ site.name }}'>
			</div>
			{{ content }}
		</div>
	</body>
</html>
