<!DOCTYPE html>
<html>
	<head>
		<meta charset='utf-8'>
		<title>{{ page.title }}</title>
		<link rel='stylesheet' type='text/css' href='/assets/css/main.css'>
		<link rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans'>
		<link rel='shortcut icon' href='/favicon.ico'>
	</head>

	<body>
		<div class='container'>
			<div class='header'>
				<img src='/assets/images/header.jpg' class='header-banner' alt='{{ site.name }}'>
				<ul class='navigation'>
					{% for item in site.navigation %}
					<li><a href='{{ item.url }}'>{{ item.label }}</a></li>
					{% endfor %}
				</ul>
			</div>

			<div class='content'>
				<div class='main'>
					{{ content }}
				</div>

				<div class='sidebar'>
					<h2>{{ site.irc.server }}</h2>
					<p>Come and chat in the following channels:<p>

					<table class='channels'>
						<tbody>
							{% for row in site.irc.channels %}
							<tr>
								{% for channel in row %}
								<td>#{{ channel }}</td>
								{% endfor %}
							</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>
</html>
